{{page-title "Pulse Track"}}

<header>
  <nav>
    <h1>Pulse Track</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/events">Events</a></li>
    </ul>
  </nav>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <p>&copy; 2025 – Made with 💜 by Kinnixx</p>
</footer>
