{{page-title "Pulse Track"}}

<header>
  <nav>
    <h1>Pulse Track</h1>
    <ul>
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="events">Events</LinkTo></li>
    </ul>
  </nav>
</header>

<main>
  {{outlet}}
  <NotificationBar />
</main>

<footer>
  <p>&copy; 2025 – Made with 💜 by Kinnixx</p>
</footer>
